@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;400;600;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Urbanist:wght@200;400;600;700;900&display=swap');



html p{
    font-family: Urbanist;
    
}

h1 {
    font-family: Anton;
    font-size: 5rem;
    
    
}

h2 {
    font-family: Urbanist;
}

h3 {
    font-family: Urbanist;
}

/******* NAV **********/
nav{
    width: 100%;
    height: auto;
}

/******INICIO************ -------> mensaje de bienvenida*/
.principio{
    background-color: #4158e0;
    display: flex;
    flex-wrap: row wrap;
    padding: 5%;
        
    
    
        
}
/*
.principio img{

    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
}**/

.opciones{
    display: flex;
    flex-wrap: row wrap;
}


.tarjeta {
    width: 90%;
    height: auto;
    margin: 4%;
    padding: 5%; 
    border-radius:10px;
    border-color: #4158e0;
    border-width: 2%;
    border-style: solid;
    display: flex; /*  VERIFICAR FLEBOX*/
    flex-direction: column;
    align-items: center;
}

.tarjeta img {
 width: 100%;
 height: auto;
}

/******************Página aplicaciones***********/


.tituloA{
    
    border-radius:10px;
    border-color: #4158e0;
    border-width: 2%;
    border-style: solid;
    padding: 2%;
    text-align: center;
    margin: 2%;
    
}

.contenedorAplicaciones{
    display:grid;
    grid-template-areas:
    "titulo titulo texto texto texto"
    "titulo titulo texto texto texto"
    "titulo titulo imagen imagen imagen"
    "titulo titulo imagen imagen imagen"
    "titulo titulo imagen imagen imagen";
    grid-template-columns: repeat(5, 18%);
    grid-template-rows: repeat(5, auto);
    padding: 2%;
    grid-gap: 2%;
}
    

.contenedorAplicaciones img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius:10px;
    border-width: 2%;
   
   
}


.tituloAplicacion{
    grid-area: titulo;
    border-radius:10px;
    
    border-width: 2%;
   
    overflow: hidden;
    
}

.textoAplicacion{
    grid-area: texto;
    border-radius:10px;
    border-color: #4158e0;
    border-width: 2%;
    border-style: solid;
    padding: 2%;
    overflow: hidden;

}

.ejemploAplicacion{
    grid-area: imagen;
    border-radius:10px;
   
    border-width: 2%;
    
    overflow: hidden;

}



/*Página referentes*/

.tituloR{
    
    border-radius:10px;
    border-color: #4158e0;
    border-width: 2%;
    border-style: solid;
    padding: 2%;
    text-align: center;
    margin: 2%;
    
}

.contenedorReferentes{
    display: grid;
    grid-template-areas: 
    "bio bio bio imagen imagen"
    "bio bio bio imagen imagen"
    "trabajo trabajo texto texto texto"
    "trabajo trabajo texto texto texto";
    grid-template-columns: repeat(5, 18%);
    grid-template-rows: repeat(4, 30);
    padding: 2%;
    grid-gap: 2%;
    object-fit: cover;
    height: auto;
    width: 100%;
}

.contenedorReferentes img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius:10px;
    border-width: 2%;
   
}
.imagenReferente{
    grid-area: imagen;
    border-radius:10px;
    border-color: #4158e0;
    border-width: 2%;
    border-style: solid;
}

.bioReferente{
    grid-area: bio;
    border-radius:10px;
    border-color: #4158e0;
    border-width: 2%;
    border-style: solid;
    padding: 2%;

}

.trabajoReferente{
    grid-area: texto;
    border-radius:10px;
    border-color: #4158e0;
    border-width: 2%;
    border-style: solid;
    padding: 2%;

}

.trabajoImagenes{
    grid-area: trabajo;
    border-radius:10px;
    border-color: #4158e0;
    border-width: 2%;
    border-style: solid;
}


/**Página Herramientas*/

.herramientas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
    
}


.tituloH{
    
    border-radius:10px;
    border-color: #4158e0;
    border-style: solid;
    text-align: center;
    padding: 2%;
    margin: 2% 0%;
    
}


/*Página preguntas*/
.contenedorPregunta{
    display: grid;
    grid-template-areas: "titulo formulario";
    grid-template-columns: 40% 58%;
    grid-template-rows: 100%;
    margin: 5%;
    grid-gap: 4%;
    
    
}

.tituloPregunta{
    grid-area: titulo;
    border-radius:10px;
    border-color: #4158e0;
    border-width: 2%;
    border-style: solid;
    padding: 5%;
   
    display: flex;
    align-items: center;
    justify-content: center;
}

.formPreguntas{
    grid-area: formulario;
    font-family: urbanist;
   
    
}





/*****************PIE DE PÁGINA*******************/

footer{
    background-color: #4158e0;
    width: 100%;
    height: auto;
    padding: 1%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:#eaeaea;
    font-size:.6rem;
   
}

footer a{
    color:#eaeaea;
    padding: 1%;
    
}

footer img{
   width:10%;
   height: auto;
   margin: 2%;
}

/**********************CONDICIONES PARA RESPONSIVE**************************/

@media screen and (max-width: 800px){
    /*SE APLICARÁ EN LA CLASE .PRINCIPIO DE LA PARTE BIENVENIDA PÁGINA INICIO*/
    .principio{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align:center;
        color: #eaeaea;
        font-size: 3vw;
        
    }

    .principio img{
        width: 100%;
        height: auto;
        
    }
    
    .principio p {
        text-align:center;
    }

   

   
    /*SE APLICARÁ EN LA CLASE .OPCIONES DE LA PARTE CONTENIDO PÁGINA INICIO*/
    .opciones{
        display: flex;
        flex-wrap:  wrap;
    }


    /*SE APLICARÁ EN LA CLASE .contenedorAplicaciones DE LA PARTE CONTENIDO PÁGINA APLICACIONES*/
    .contenedorAplicaciones{
        display:grid;
        grid-template-areas:
        "titulo titulo texto texto texto"
        "titulo titulo texto texto texto"
        "imagen imagen imagen imagen imagen"
        "imagen imagen imagen imagen imagen"
        "imagen imagen imagen imagen imagen";
        grid-template-columns: repeat(5, 18%);
        grid-template-rows: repeat(5, auto);
        padding: 2%;
        grid-gap: 2%;
    }
    
    /*SE APLICARÁ EN LA CLASE .contenedorAplicaciones DE LA PARTE CONTENIDO PÁGINA REFERENTES*/

    
.contenedorReferentes{

    padding: 2%;
    display: block;
    margin-top: 5%;
    font-size: 2.7vw;
    
}

.contenedorReferentes div{
    margin: 3%;

}

.trabajoImagenes div{
    margin:0;
}

/*SE APLICARÁ EN LA CLASE .contenedorHerramientas DE LA PARTE CONTENIDO PÁGINA REFERENTES*/

.tarjetasH{
    display: flex;
    flex-direction: center;
    text-align: center;
    align-items: center;

}

/*SE APLICARÁ EN LA CLASE .contenedorHerramientas DE LA PARTE CONTENIDO PÁGINA HERRAMIENTAS*/

.herramientas{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.herramientas .tituloH{
    margin: 0%;
}

.info{
    margin: 5%;
}

/*SE APLICARÁ EN LA CLASE .contenedorHerramientas DE LA PARTE CONTENIDO PÁGINA PREGUNTAS*/

.contenedorPregunta{
    display: block;
    padding: 2%;
}
.tituloPregunta{
    margin-bottom: 5%;
}
}




