

/*******PÁGINA HERRAMIENTAS******/

.herramientas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;

    div{
        font-family: $texto;
    }
    
}


.tituloH{
    
    border-radius:10px;
    border-color: $morado;
    border-style: solid;
    text-align: center;
    padding: 2%;
    margin: 2% 0%;
    color: $naranja;

    h1{
        font-family: $titulos;
        font-size: 4rem;
    }
    
}